@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}
a:visited,
a:link {
    color: inherit;
    /* color: white; */
    text-decoration: none;
}

body {
    background-color: rgb(72, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.gen-container{
    /* background-color: rgb(242, 242, 242); */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 130px;
    
}

.back-container{
    /* display: inline-block; */
    /* background-color: #ecb602; */
    align-items: start;
    min-width: 100px;
    min-height: 40px;
    vertical-align: top;
  text-align: left;

    
}
.back-container button{
    font-size: 18px;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: none;
    border: 2px solid rgb(227, 176, 46);
    background-color: transparent;
    color: #e7c862;
}
.back-container button:hover {
    color: #eee;
    border: 2px solid #eee
}



h2 {
	margin: 10px 0 20px;
	text-align: center;
    padding-top: 25px;
    margin-bottom: 10px;
    
}
.pw-container {
    /* display: inline-block; */
    /* background-color: rgb(185, 17, 145); */

    background-color: rgb(138, 27, 27);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-top: 100px;
    width: 500px;
    height: auto;
    text-align: center;
}

.pw-header {
    padding: 1rem;
    
    display: flex;
}

.pw {
    background-color: rgb(94, 19, 19);
    display: flex;
    font-size: 1rem;
    align-items: center;
    height: 60px;

    flex: 0 0 85%;
    width: 85%;

  
    position: relative;
    padding: 1rem;
    overflow: auto;
}
   
.btn{
    display: flex;
    flex: 0 0 15%;
    max-width: 15%;
    background-color: rgb(161, 31, 31);
    /* background-color: yellow; */
    justify-content: center;
    /* padding: 10px 10px; */
    border: 7px solid rgb(94, 19, 19);
}
.btn button {
    /* background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 1; */
    /* text-align: center; */

    align-items: center;
    border: none;
    /* background-color: aquamarine; */
    background-color: transparent;
    /* background-color: yellow; */
    font-size: 30px;
    color: #eee;
}

.btn:hover button{
    cursor: pointer;
    /* color: #ecb602; */
    color: rgb(192, 190, 190);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #ecb602;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}
.generate:hover{
    background-color: #e7c862;
}


@media (max-width: 700px) {
    .pw-container {
        
        width: 85%;
        margin-top: 80px;
        
    }
    .gen-container{
        
        padding-bottom: 0px;
        
    }
    
}
