@import url('https://fonts.googleapis.com/css2?family=Allura&family=Clicker+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
    color-scheme: dark;
    /* — app-height: 100%; */
}

::-webkit-scrollbar{
  display: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.shadow-dark{
  box-shadow: 0 0 20px rgb(48, 46, 77, 0.15);
}
a:visited,
a:link {
  color: #fff;
}
html{
  scroll-behavior: smooth;
}


.container{
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;

  /* background-color: gold; */
  /* margin: auto; */
}
.row{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.padd15{
  padding-left: 15px;
  padding-right: 15px;
}



.max-width {
  max-width: 1300px;
  padding: 0 80px; /* indents Portfolio */
  margin: auto;
  /* background-color: #f21818; */
}

.project-width {
  max-width: 1400px;
  padding: 0 80px; /* indents Portfolio */
  margin: auto;
  background-color: #f21818;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0; /* Makes red bar bigger  */
  /* background: black; */
  font-family: "Ubuntu", sans-serif; /* font for home, about, etc */
  z-index: 999;
}
.navbar.sticky {
  padding: 15px 0;
  background: black;
}
.navbar .max-width {
  display: flex;
  align-items: center; /* moves menu down to center of red line */
  justify-content: space-between; /* moves menu to next flex spot */
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;  
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px; /*  Space between home, about, skills  */
}
.navbar .menu li a:hover {
  color: #f99954;
}
.navbar.sticky .menu li a:hover {
  color: #f99954;
}
/* home button styling  */

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* home section styling */





.home {
  display: flex;
  background: url("images/black.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  /* min-height: -webkit-fill-available; */
  /* height: var( — app-height); */
  color: #fff;
  min-height: 500px; /* height of home element box */
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  /* margin: auto 0 auto 40px; */
  /* margin-top: 240px; */

  /* display: grid;
    align-items: center;
    justify-self: center;
    color: rgb(4, 4, 4);
    font-size: 4rem; */
}
.home .home-content .text1 {
  text-align: center;
  
  font-family: "Allura";
  background-color: white;
  background-image: linear-gradient(
    to top,
    rgb(229, 224, 224) 0%,
    rgb(236, 228, 228) 100%
  );
  text-shadow: 2px 7px 5px;
  font-size: 120px;
  font-weight: 500;
  /* -webkit-text-stroke-width: 1px; */
  -webkit-text-stroke-color: black;
  background-size: 500%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.home .home-content .text2 {
  font-size: 20px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
  text-shadow: 2px 7px 5px rgba(12, 12, 12, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
.home .home-content .text3 {
  position: absolute;
  bottom: 2%;
  right: 16px;
  color: rgb(128, 128, 128);
  font-size: 13px;
}
/* .home .home-content .test{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin: 0 15px;
    
 
} */

.home .home-content .media ul {
  /* position: relative; */
  text-align: center;
  margin-top: 15px;
  /* display: inline-block; */
  /* padding: 0;
    margin: 0; */
}
.home .home-content .media ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  z-index: 1;
}
.home .home-content .media ul li .fa {
  font-size: 20px;
  line-height: 30px;
  transition: 0.6s;
  color: white;
}
.home .home-content .media ul li .fa:hover {
  /* color: black; */
}
.home .home-content .media ul li a {

  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30%;
  background-color: #111111;
  text-align: center;
  transition: 0.3s;
  box-shadow: 3px 3px 5px white;
}
.home .home-content .media ul li a:hover {
  transform: translate(0, -3px);
}
.home .home-content .media ul li:nth-child(1) a:hover {
  transform: translate(0, -3px);
  background-color: green;
}
.home .home-content .media ul li:nth-child(2) a:hover {
  transform: translate(0, -3px);
  background-color: #0a66c2;
}
.home .home-content .media ul li:nth-child(3) a:hover {
  transform: translate(0, -3px);
  background-color: #f21818;
}

.home .home-content .scrolldown {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* background-color: #f99954; */
    /* bottom: -200px; */
    
    /* left: 48.5%; */
  
    font-size: 40px;
  }
  .home .home-content .scrolldown .fa{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
      /* text-shadow: 3px 3px 5px black; */
      -webkit-background-clip: text;
    -moz-background-clip: text;
    text-align: center;
    
  }
.fa:hover {
    /* color: black; */
  }
  .home .home-content .scrolldown a:hover{
    
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
    text-shadow: 0px 0px 10px white;
    -webkit-background-clip: text;
  -moz-background-clip: text;
  }


  /* footer{
    margin-top: auto;
} */

    /* about ********************************************************************** */
  /* about ********************************************************************** */
  /* about ********************************************************************** */
  /* about ********************************************************************** */
  
  
  
/* About section stlying */

section{
    padding: 50px 0;
    /* background: linear-gradient(to bottom, black,red); */
    /* display: block;
    position: fixed; */
}
.about {
  font-family: "poppins", sans-serif;
  height: auto;
  /* background: linear-gradient(to bottom, #111111,70%,#303030); */
  background-color: rgb(17, 17, 17);
  /* display: flex; */
}

.about .title {
    position: relative;
    text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: 40px;
  padding-bottom: 40px;
  font-family: "Ubuntu", sans-serif;
}
.about .title::before {
    content: attr(data-heading);
    color: #f99954;
  font-size: 15px;
    bottom: 0px;
   display: block;
}




.about .about-info{
  /* flex: 0 0 60%; */
  /* max-width: 60%; */
  width: 600px;
  height: 300px;
  /* background-color: orange; */
  /* text-align: end; */
  
}

h3.hello{
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
  /* margin-left: 60px; */
}
h3.hello span{
  font-family: 'Allura', cursive;
  font-size: 50px;
  font-weight: 700;
  color:#f99954;
  /* text-shadow: 0 0 3px white; */
  margin-bottom: 20px;
}
.about-info p{
    /* margin-left: 60px; */
    line-height: 1.6;
    font-size: 14px;
}
.about .about-img{
  /* flex: 0 0 40%;
  max-width: 40%; */
  display: flex;
  height: 300px;
  width: 300px;
  
  /* background: blue; */
  text-align: end;
  /* text-align: center; */
  position: relative;
 
  
}
.about .about-img img{
  height: 300px;
  /* margin-right: 150px; */
  border-radius: 50px;
  justify-self: start;
  
}






























.about .personal-info{
  flex: 0 0 60%;
  max-width: 60%;
  /* background-color: red; */
  /* margin-bottom: 30px; */
  margin-top: 60px;
}

.about .personal-info h3{
  /* color: gray; */
  color: white;
  font-weight: 600;
  padding-left: 15px;
  font-size: 25px;
  padding-bottom: 20px;
}

 .about .personal-info .info-item{
  flex: 0 0 50%;
  max-width: 50%;
  /* background: red; */
 }
 .about .personal-info .info-item p{
  font-weight: 600;
  padding: 11px 0;
  font-size: 15px;
  color: rgb(58, 58, 58);
  border-bottom: 1px solid rgb(47, 47, 47);
 }
 .about .personal-info .info-item p span{
      font-weight: 400;
      color: rgb(100, 100, 100);
      margin-left: 4px;
      display: inline-block;
      
 }
 .about .personal-info .buttons{
  /* margin-left: 15px; */

  /* background-color: #f21818; */
  width: 100%;
  display: inline-block;
  text-align: center;
 }
 .about .personal-info .buttons .cv{
  margin-right: 15px;
 }
 .about .personal-info .buttons a{
  display: inline-block;
  background: none;
  color: #f99954;
  font-size: 15px;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 6px;
  border: 2px solid #f99954;
  transition: all 0.3 ease;
  
}
.about .personal-info a:hover{
  color: #fff;
  background: none;
  border-color: white;
}


 .about .skills{
  flex: 0 0 40%;
  max-width: 40%;
  /* background-color: green;      ----------------------------       */
  margin-top: 60px;
  margin-bottom: 10px;

}
.about .skills h3{
  /* color: gray; */
  color: white;
  padding-left: 15px;
  font-size: 25px;
  padding-bottom: 20px;
}

.about .skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
  
}
.about .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(100, 100, 100);
  /* color: white; */
  text-transform: capitalize;
}
.about .skills .skill-item .progress{
  background-color: rgb(58, 58, 58);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .skills .skill-item .progress .progress-in{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: #f99954;
  
}
.about .skills .skill-item .skill-percent{
  position: absolute;
  right: 0;
  color: white;
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}



  /* resume ********************************************************************** */
  /* resume ********************************************************************** */
  /* resume ********************************************************************** */
  /* resume ********************************************************************** */



.resume {
font-family: "poppins", sans-serif;
height: auto;
/* display: flex; */
padding: 50px 0;
  /* background-color: #FAF9F6; */
  background-color: #ffff;
}

.resume .title {
  position: relative;
  text-align: center;
font-family: "Poppins", sans-serif;
color: black;
font-size: 40px;
font-weight: 500;
margin-top: 40px;
padding-bottom: 30px;
font-family: "Ubuntu", sans-serif;
}
.resume .title::before {
  content: attr(data-heading);
  color: #f99954;
font-size: 15px;
  bottom: 0px;
 display: block;
}

.resume .title2{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: black;
}

.resume .education{
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  /* background-color: white; */
}
.resume .experience{
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  /* background-color: rgb(36, 236, 13) */
}
.resume .timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
  /* background-color: #f21818; */
}
.resume .experience .timeline-box{
  margin-bottom: 30px;
}
.resume .timeline{
  /* background-color: white; */
  /* background-color: #0a66c2; */
  padding: 30px 15px;
  border: 2px solid #edece8;
  border-radius: 10px;
  width: 100%;
  position: relative;
  color: #111;
}
.resume .timeline .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.resume .timeline .timeline-item:last-child{
  padding-bottom: 0;
}
.resume .timeline .timeline-item::before{
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #f99954;
}
.resume .timeline .timeline-item .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f99954;
}
.resume .timeline .timeline-date{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: grey;
}
.resume .timeline .timeline-date .fa{
  margin-right: 5px;
}
.resume .timeline .timeline-title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.resume .timeline .timeline-text{
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
  margin-right: 30px;
  color: grey;
}


  /* projects ********************************************************************** */
  /* projects ********************************************************************** */
  /* projects ********************************************************************** */
  /* projects ********************************************************************** */


.projects {
  font-family: "poppins", sans-serif;
  height: auto;
  /* display: flex; */
  padding: 50px 0;
    /* background-color: #0f0f2f; */
    background-color: rgb(70, 70, 70);
  }
  
  .projects .title {
    position: relative;
    text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: 40px;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  }
  .projects .title::before {
    content: attr(data-heading);
    color: #f99954;
  font-size: 15px;
    bottom: 0px;
   display: block;
  }

  .projects .work{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  
    /* background-color: gold; */
    /* margin: auto; */
    flex-wrap: wrap;
  }
  .projects .work-item{
    flex: 0 0 30%;
    max-width: 30%;
    /* background-color: rgb(110, 5, 5); */
    /* padding: 15px 15px; */
    margin: 15px 15px;
    position: relative;
    width: 100%;

  }
.projects .work-box{
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
  /* background-color: rgb(36, 147, 36); */
  
}




.projects .work-box img{
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(13, 13, 13, 0.9);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.work-box:hover .overlay {
  bottom: 0;
  height: 100%;
}


.overlay-title {
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: 600;

  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; */
}
.overlay-text{
  color: white;
  font-size: 14px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.overlay-button{
  color: #f99954;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.overlay-button a:hover {
  color: #edece8;
  border-color: white;
}
.overlay-button a{
  color: #f99954;
  font-size: 12px;
  border: 2px solid #f99954;
  border-radius: 50px;
  padding: 5px 20px;
}
.overlay-button i{
  color: inherit;
}

.projects .row:last-child{
  /* background-color: #FAF9F6; */
  /* margin-top: -30px; */
}










  /* contact ********************************************************************** */
  /* contact ********************************************************************** */
  /* contact ********************************************************************** */
  /* contact ********************************************************************** */


  .contact {
    font-family: "poppins", sans-serif;
    height: auto;
    /* display: flex; */
    padding: 50px 0;
      background-color: #00091b;
    }
    
    .contact .title {
      position: relative;
      text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-top: 40px;
    padding-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
    }
    .contact .title::before {
      content: attr(data-heading);
      color: #f99954;
    font-size: 15px;
      bottom: 0px;
     display: block;
    }
    
    .contact .title2{
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 700;
      color: black;
    }

    .contact .contact-container{
      display: flex;
      margin-top: 20px;
      /* background-color: #f21818; */
      font-size: 13px;
    }
    
    .contact .contact-content{
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      /* justify-content: center; */
      /* background-color: aqua; */
    }
    .contact .contact-info{
      align-items: right;
      /* background-color: #3cf218; */
      width: 100%;
      /* justify-content: end; */
      justify-content: center;
      padding-left: 25%;
      padding-right: 25%;
      
    }
    .contact .contact-card{
      text-align: center;
      justify-content: center;
      /* margin-left: auto; */
      border-radius: .5rem;
      width: 100%;
      background-color: #1d1e29;
      border: 3px solid #2b2d3e;
      border-radius: 10px;
      margin-bottom: 20px;
      padding-top: 17px;
      margin-right: 20px;
      line-height: 25px;
    }
  .contact .contact-card:hover{
    background-color: #00091b;
    }
    .contact .contact-container .contact-content .contact-card i{
      font-size: 25px;
      margin-bottom: 15px;
    }
    .contact-card-data{
      display: block;
      margin-bottom: 8px;

    }
    .contact .contact-container .contact-content .contact-button{
      color: #f99954;
    
    }
    .contact .contact-container .contact-content .contact-button i{
      font-size: 12px;
      color: #f99954;
    }
    #mail{
      font-size: 10px;
    }

/* responsive media querey start */









































    /* large screen ********************************************************************** */
  /* large screen ********************************************************************** */
  /* large screen  ********************************************************************** */
  /* large screen  ********************************************************************** */
    /* large screen ********************************************************************** */
  /* large screen ********************************************************************** */
  /* large screen  ********************************************************************** */
  /* large screen  ********************************************************************** */


/* @media (max-width: 1400px) {
  .about .about-content .left {
    width: 50%;
    display: flex;
    justify-content: right;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
} */




    /* medium screen ********************************************************************** */
  /* medium screen ********************************************************************** */
  /* medium screen  ********************************************************************** */
  /* medium screen  ********************************************************************** */
    /* medium screen ********************************************************************** */
  /* medium screen ********************************************************************** */
  /* medium screen  ********************************************************************** */
  /* medium screen  ********************************************************************** */







@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;    
    text-align: center;
    padding: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    /* left: 0%; */
    top:0
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }










  
  .home .home-content .media ul {
    /* position: relative; */
    text-align: center;
    margin-top: 15px;
    /* display: inline-block; */
    /* padding: 0;
      margin: 0; */
  }
  .home .home-content .media ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    z-index: 1;
  }
  .home .home-content .media ul li .fa {
    font-size: 20px;
    line-height: 30px;
    transition: 0.6s;
    color: white;
  }
  .home .home-content .media ul li .fa:hover {
    /* color: black; */
  }
  .home .home-content .media ul li a {
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 30%;
    background-color: #111111;
    text-align: center;
    transition: 0.3s;
    box-shadow: 3px 3px 5px white;
  }
  .home .home-content .media ul li a:hover {
    transform: translate(0, -3px);
  }
  .home .home-content .media ul li:nth-child(1) a:hover {
    transform: translate(0, -3px);
    background-color: green;
  }
  .home .home-content .media ul li:nth-child(2) a:hover {
    transform: translate(0, -3px);
    background-color: #0a66c2;
  }
  .home .home-content .media ul li:nth-child(3) a:hover {
    transform: translate(0, -3px);
    background-color: #f21818;
  }
  
  .home .home-content .scrolldown {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    /* left: 48.5%; */
  
    font-size: 40px;
    color: rgb(99, 21, 21);
  }
  .max-width{
    max-width: 800px;
  }






  .about{
    height: auto;
  }
  .about .about-content .left {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    padding: 0;
  }
  .about .about-content .right {
    flex: 100%;
  }
  



 
  
  .projects .work{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
   margin-top: 40px;
    /* background-color: gold; */
    /* margin: auto; */
  }
  .projects .work-item{
    /* flex: 0 0 50%;
    max-width: 50%; */
   
    /* background-color: red; */
    margin: 15px 15px;
    position: relative;
    /* width: 100%; */

  }
.projects .work-box{
  flex: 0 0 100%;
  max-width: 100%;
  /* background-color: green; */
  
}
.projects .work-box img{
  width: 100%;
  height: 100%;
}
.projects .row:last-child{
  /* background-color: #FAF9F6; */
  margin-top: -30px;
}
.overlay-title{
  font-size: 15px;
}
.overlay-text{
  font-size: 5px;
}
}








/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */




@media (max-width: 1100px) {
    .max-width {
      padding: 0 40px;
    }
    .home {
        max-width: 100%;
        height: auto;
        background-size: cover;
        background-position: center, center;
        overflow-x: hidden;
      }
    .menu-btn{
      display: block;
      z-index: 999;
      padding: 0 10px;
    }
    .menu-btn i.active:before{
      content: "\f00d";
    }
    .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;    
      text-align: center;
      padding: 80px;
      transition: all 0.3s ease;
    }
    .navbar .menu.active{
      left: 0%;
    }
    .navbar .menu li {
      display: block;
    }
    .navbar .menu li {
      display: block;
    }
    .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
    }
  
  
  .home{
    height: 100vh;
  }
  
    .home .home-content .text1 {
      text-align: center;
    
      background-color: white;
      background-image: linear-gradient(
        to top,
        rgb(229, 224, 224) 0%,
        rgb(236, 228, 228) 100%
      );
      text-shadow: 2px 7px 5px;
      font-size: 100px;
      /* font-weight: 600; */
      /* -webkit-text-stroke-width: 1px; */
      -webkit-text-stroke-color: black;
      background-size: 500%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      color: transparent;
    }
    .home .home-content .text2 {
      font-size: 17px;
      text-align: center;
      margin-top: -10px;
      text-shadow: 2px 7px 5px rgba(12, 12, 12, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    }
    /* .home .home-content .test{
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        margin: 0 15px;
        
     
    } */
    
    .home .home-content .media ul {
      /* position: relative; */
      text-align: center;
      margin-top: 15px;
      /* display: inline-block; */
      /* padding: 0;
        margin: 0; */
    }
    .home .home-content .media ul li {
      list-style: none;
      display: inline-block;
      margin: 0 30px;
      z-index: 1;
    }
    .home .home-content .media ul li .fa {
      font-size: 20px;
      line-height: 30px;
      transition: 0.6s;
      color: white;
    }
    .home .home-content .media ul li .fa:hover {
      /* color: black; */
    }
    .home .home-content .media ul li a {
      position: relative;
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 30%;
      background-color: #111111;
      text-align: center;
      transition: 0.3s;
      box-shadow: 3px 3px 5px white;
    }
    .home .home-content .media ul li a:hover {
      transform: translate(0, -3px);
    }
    .home .home-content .media ul li:nth-child(1) a:hover {
      transform: translate(0, -3px);
      background-color: green;
    }
    .home .home-content .media ul li:nth-child(2) a:hover {
      transform: translate(0, -3px);
      background-color: #0a66c2;
    }
    .home .home-content .media ul li:nth-child(3) a:hover {
      transform: translate(0, -3px);
      background-color: #f21818;
    }
    
    .home .home-content .scrolldown {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      /* left: 48.5%; */
    
      font-size: 30px;
      color: rgb(99, 21, 21);
    }
    .home .home-content .text3 {
      position: absolute;
      bottom: 2%;
      right: 16px;
      color: gray;
      font-size: 13px;
  }
    .max-width{
    max-width: 1000px;
  }
  .about{
    height: auto;
  }
  .about .about-content .left {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    padding: 0;
  }
  .about .about-content .right {
    flex: 100%;
  }

  .about .personal-info .info-item{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: red; */
   }
   .about .personal-info .info-item p{
    font-weight: 600;
    padding: 11px 0;
    font-size: 15px;
    color: rgb(58, 58, 58);
    border-bottom: 1px solid rgb(47, 47, 47);
   }
   .about .personal-info .info-item p span{
        font-weight: 400;
        color: rgb(100, 100, 100);
        margin-left: 4px;
        display: inline-block;
        
   }



   .about .personal-info{
    flex: 0 0 50%;
    max-width: 50%;
    /* background-color: red; */
    margin-top: 60px;
  }

  .about .skills{
    flex: 0 0 50%;
    max-width: 50%;
    /* background-color: green; */
    margin-top: 60px;
    /* padding-left: 15px; */
  }
  .projects .work{
    display: block inline;
    /* margin-top: 0px; */
  }
  
  .projects .work-item{
    flex: 0 0 45%;
    max-width: 100%;
    /* background-color: red; */
    /* margin: 10px 10px; */
    /* position: block; */
    width: 100%;

  }
.projects .work-box{
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
  /* background-color: green; */
  
}
.projects .work-box img{
  width: 100%;
  height: 100%;
}

  .overlay-title{
    font-size: 20px;
  }
  .overlay-text{
    font-size: 15px;
  }
  }










@media (max-width: 750px) {

  .container{
    display: inline-block ;
  }
  .navbar .logo a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .home {
    display: flex;
    background: url("images/black.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: -webkit-fill-available;
    color: #fff;
    /* min-height: 500px; height of home element box */
    font-family: "Ubuntu", sans-serif;
  }
  .home .home-content .text1{
    font-size: 90px;
    /* line-height: 100%; */
    font-weight: 400;
  }
  .home .home-content .text2{
    font-size: 14px;
    margin-top: -10px;
  }
  .home .home-content .text3 {
    position: absolute;
    /* bottom: 2%;
    right: 16px; */
    color: gray;
    font-size: 0px;
}

  .about .title {
    position: relative;
    text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 40px;
  /* background-color: #0a66c2; */
  font-family: "Ubuntu", sans-serif;
}

 .about .skills{
 
  /* background-color: green; */
  margin-top: 20px;
  /* padding-left: 15px; */
}
.about .personal-info{
 
  /* background-color: orange; */
  margin-top: 20px;
  /* width: 100%; */
  /* display: inline-block; */
  /* padding-left: 15px; */
}

  .about .about-info{
    /* flex: 0 0 60%; */
    /* max-width: 60%; */
    width: 100%;
    /* background-color: #f21818; */
    height: auto;
    margin-bottom: 20px;
    /* text-align: end; */
    
  }
  
  h3.hello{
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
    /* margin-left: 60px; */
  }
  h3.hello span{
    font-family: "Allura", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #f99954;
    margin-bottom: 20px;
  }

  .about-info p{
    /* margin-left: 60px; */
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
}

  .about .about-img{
    /* flex: 0 0 40%;
    max-width: 40%; */
    /* display: flex; */
    /* height: 300px; */
    width: 100%;
    height: auto;
    display: inline-block;
    /* margin-top: -60px; */
    /* background: blue; */
    /* text-align: end; */
    text-align: center;
    /* align-content: center; */
   
    
  }
  .about .about-img img{
    /* height: 300px; */
    /* margin-right: 150px; */
    border-radius: 50px;
    /* margin-left: 25%; */
    /* text-align: center; */
    /* align-items: center; */
    
  }

  .about .personal-info{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */
    margin-top: 20px;
  }

  .about .personal-info .info-item{
    
    max-width: 100%;
    /* background: red; */
   }
   .about .personal-info .info-item p{
    font-weight: 600;
    /* padding: 11px 0; */
    font-size: 15px;
    color: rgb(58, 58, 58);
    border-bottom: 1px solid rgb(47, 47, 47);
   }
   .about .personal-info .info-item p span{
        font-weight: 400;
        color: rgb(100, 100, 100);
        margin-left: 4px;
        display: inline-block;
        
   }
   .about .personal-info .buttons{
    /* margin-left: 15px; */
    /* background-color: #f21818; */
    width: 100%;
    display: inline-block;
    text-align: center;
   }
   .about .personal-info .buttons .cv{
    margin-right: 15px;
   }
   .about .personal-info .buttons a{
    display: inline-block;
    background: none;
    color: #f99954;
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 6px;
    border: 2px solid #f99954;
    transition: all 0.3 ease;
    
  }
  .about .personal-info a:hover{
    color: white;
    border-color: white;
    background: none;
  }

  .about .skills{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: green; */
    margin-top: 20px;
    /* padding-left: 15px; */
  }
  .about .skills h3{
    /* color: gray; */
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-left: 0;
  }

 .resume .title{
  margin-top: 15px;
 }  
  .resume .education{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;
    /* display: inline-block; */
  }
  .resume .experience{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
    
    /* display: inline-block; */
  }
  .resume .experience .timeline-box{
    margin-bottom: 10px;
  }

  


.projects .title{
  margin-top: 15px;
}

  .projects .work{
    display: block inline;
    margin-top: 0px;
  }
  
  .projects .work-item{
    flex: 0 0 100%;
    max-width: 80%;
    /* background-color: red; */
    /* margin: 10px 10px; */
    /* position: block; */
    width: 100%;

  }
.projects .work-box{
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
  /* background-color: green; */
  
}
.projects .work-box img{
  width: 100%;
  height: 100%;
}
.projects .row:last-child{
  /* background-color: #FAF9F6; */
  margin-top: 0;
}

.contact .contact-container{
  display: inline-block;
  /* background-color: #0a66c2; */
  width: 100%;
}
.contact .contact-content{
  flex: 0 0 100%;
  max-width: 100%;
  /* margin-left: 0; */
  /* background-color: #f21818; */
}
.contact .contact-info{

  /* background-color: #3cf218; */
  flex: 0 0 100%;
  width: 100%;
  align-items: center;
  padding-left: 0;
      padding-right: 0;
  
}
.contact .contact-card{
  /* margin-left: 0; */
  /* text-align: center; */
  justify-content: center;

  border-radius: .5rem;
  width: 100%;
  background-color: #1d1e29;
  margin-bottom: 20px;
  padding-top: 17px;
  /* margin-right: 20px; */
  line-height: 25px;
}
.contact .contact-form{
  /* background-color: #188cf2; */
  width: 100%;
  margin-top: 30px;
  /* margin-left: 10px; */
}
.overlay-title{
  font-size: 18px;
}
.overlay-text{
  font-size: 15px;
}





@media (max-width: 550px) {
  .home .home-content .text1{
    font-size: 90px;
    line-height: 90%;
    font-weight: 600;
  }
  .home .home-content .text2{
    margin-top: 5px;
    font-size: 14px;
  }
  .overlay-title{
    font-size: 16px;
  }
  .overlay-text{
    font-size: 12px;
  }

}

  
}
