@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a:visited,
a:link {
  color: #fff;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px; /* indents Portfolio */
  margin: auto;
}
/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0; /* Makes red bar bigger  */
  /* background: black; */
  font-family: "Ubuntu", sans-serif; /* font for home, about, etc */
  z-index: 999;
}
.navbar.sticky {
  padding: 30px 0;
  background: black;
}
.navbar .max-width {
  display: flex;
  align-items: center; /* moves menu down to center of red line */
  justify-content: space-between; /* moves menu to next flex spot */
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px; /*  Space between home, about, skills  */
}
.navbar .menu li a:hover {
  color: grey;
}
.navbar.sticky .menu li a:hover {
  color: grey;
}
/* home button styling  */

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* home section styling */

.home {
  display: flex;
  background: url("images/bg3.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  min-height: 500px; /* height of home element box */
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  /* margin: auto 0 auto 40px; */
  /* margin-top: 240px; */

  /* display: grid;
    align-items: center;
    justify-self: center;
    color: rgb(4, 4, 4);
    font-size: 4rem; */
}
.home .home-content .text1 {
  text-align: center;

  background-color: white;
  background-image: linear-gradient(
    to top,
    rgb(229, 224, 224) 0%,
    rgb(236, 228, 228) 100%
  );
  text-shadow: 2px 7px 5px rgba(255, 255, 255, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  font-size: 100px;
  font-weight: 1000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  background-size: 500%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.home .home-content .text2 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  text-shadow: 2px 7px 5px rgba(12, 12, 12, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
/* .home .home-content .test{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin: 0 15px;
    
 
} */

.home .home-content .media ul {
  /* position: relative; */
  text-align: center;
  margin-top: 15px;
  /* display: inline-block; */
  /* padding: 0;
    margin: 0; */
}
.home .home-content .media ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  z-index: 1;
}
.home .home-content .media ul li .fa {
  font-size: 20px;
  line-height: 30px;
  transition: 0.6s;
  color: white;
}
.home .home-content .media ul li .fa:hover {
  /* color: black; */
}
.home .home-content .media ul li a {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30%;
  background-color: rgb(49, 57, 47);
  text-align: center;
  transition: 0.3s;
  box-shadow: 3px 3px 5px white;
}
.home .home-content .media ul li a:hover {
  transform: translate(0, -3px);
}
.home .home-content .media ul li:nth-child(1) a:hover {
  transform: translate(0, -3px);
  background-color: green;
}
.home .home-content .media ul li:nth-child(2) a:hover {
  transform: translate(0, -3px);
  background-color: #0a66c2;
}
.home .home-content .media ul li:nth-child(3) a:hover {
  transform: translate(0, -3px);
  background-color: #1877f2;
}

.scrolldown {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  /* left: 48.5%; */

  font-size: 40px;
  color: rgb(99, 21, 21);
}

/* responsive media querey start */




@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;    
    text-align: center;
    padding: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0%;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }








  .home .home-content .text1 {
    text-align: center;
  
    background-color: white;
    background-image: linear-gradient(
      to top,
      rgb(229, 224, 224) 0%,
      rgb(236, 228, 228) 100%
    );
    text-shadow: 2px 7px 5px rgba(255, 255, 255, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
    font-size: 60px;
    font-weight: 600;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-size: 500%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
  .home .home-content .text2 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 7px 5px rgba(12, 12, 12, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
  }
  /* .home .home-content .test{
      font-size: 30px;
      text-align: center;
      margin-top: 10px;
      margin: 0 15px;
      
   
  } */
  
  .home .home-content .media ul {
    /* position: relative; */
    text-align: center;
    margin-top: 15px;
    /* display: inline-block; */
    /* padding: 0;
      margin: 0; */
  }
  .home .home-content .media ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    z-index: 1;
  }
  .home .home-content .media ul li .fa {
    font-size: 20px;
    line-height: 30px;
    transition: 0.6s;
    color: white;
  }
  .home .home-content .media ul li .fa:hover {
    /* color: black; */
  }
  .home .home-content .media ul li a {
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 30%;
    background-color: rgb(49, 57, 47);
    text-align: center;
    transition: 0.3s;
    box-shadow: 3px 3px 5px white;
  }
  .home .home-content .media ul li a:hover {
    transform: translate(0, -3px);
  }
  .home .home-content .media ul li:nth-child(1) a:hover {
    transform: translate(0, -3px);
    background-color: green;
  }
  .home .home-content .media ul li:nth-child(2) a:hover {
    transform: translate(0, -3px);
    background-color: #0a66c2;
  }
  .home .home-content .media ul li:nth-child(3) a:hover {
    transform: translate(0, -3px);
    background-color: #1877f2;
  }
  
  .scrolldown {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* left: 48.5%; */
  
    font-size: 40px;
    color: rgb(99, 21, 21);
  }
}


/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */
/* mobile ********************************************************************** */




@media (max-width: 550px) {
    .max-width {
      padding: 0 40px;
    }
    .home {
        max-width: 110%;
        min-width: 300px;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
       
      }
    .menu-btn{
      display: block;
      z-index: 999;
      padding: 0 20px;
    }
    .menu-btn i.active:before{
      content: "\f00d";
    }
    .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;    
      text-align: center;
      padding: 80px;
      transition: all 0.3s ease;
    }
    .navbar .menu.active{
      left: 0%;
    }
    .navbar .menu li {
      display: block;
    }
    .navbar .menu li {
      display: block;
    }
    .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
    }
  
  
  
  
  
    .home .home-content .text1 {
      text-align: center;
    
      background-color: white;
      background-image: linear-gradient(
        to top,
        rgb(229, 224, 224) 0%,
        rgb(236, 228, 228) 100%
      );
      text-shadow: 2px 7px 5px rgba(255, 255, 255, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
      font-size: 60px;
      font-weight: 600;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      background-size: 500%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      color: transparent;
    }
    .home .home-content .text2 {
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
      text-shadow: 2px 7px 5px rgba(12, 12, 12, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    }
    /* .home .home-content .test{
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        margin: 0 15px;
        
     
    } */
    
    .home .home-content .media ul {
      /* position: relative; */
      text-align: center;
      margin-top: 15px;
      /* display: inline-block; */
      /* padding: 0;
        margin: 0; */
    }
    .home .home-content .media ul li {
      list-style: none;
      display: inline-block;
      margin: 0 30px;
      z-index: 1;
    }
    .home .home-content .media ul li .fa {
      font-size: 20px;
      line-height: 30px;
      transition: 0.6s;
      color: white;
    }
    .home .home-content .media ul li .fa:hover {
      /* color: black; */
    }
    .home .home-content .media ul li a {
      position: relative;
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 30%;
      background-color: rgb(49, 57, 47);
      text-align: center;
      transition: 0.3s;
      box-shadow: 3px 3px 5px white;
    }
    .home .home-content .media ul li a:hover {
      transform: translate(0, -3px);
    }
    .home .home-content .media ul li:nth-child(1) a:hover {
      transform: translate(0, -3px);
      background-color: green;
    }
    .home .home-content .media ul li:nth-child(2) a:hover {
      transform: translate(0, -3px);
      background-color: #0a66c2;
    }
    .home .home-content .media ul li:nth-child(3) a:hover {
      transform: translate(0, -3px);
      background-color: #1877f2;
    }
    
    .scrolldown {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      /* left: 48.5%; */
    
      font-size: 40px;
      color: rgb(99, 21, 21);
    }
  }


  
  /* about ********************************************************************** */
  /* about ********************************************************************** */
  /* about ********************************************************************** */
  /* about ********************************************************************** */
  
  
  
/* About section stlying */
.about {
  font-family: "poppins", sans-serif;
}

.about .title {
  font-family: "Poppins", sans-serif;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

/* @media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: #111;
  }
  .navbar .menu li {
    display: inline-block;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center, center;
  }
} */
